streamlit
pandas
numpy
matplotlib
requests
python-dotenv
openpyxl
scikit-learn
joblib
langchain
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-classic
transformers
sentence-transformers
gTTS
deep-translator
groq
neuralprophet
yahooquery
prophet




